/* For the base container holding left right*/

.base-container {
  display: flex;
  /* flex-direction: row; */ 
  width: 100%;
  /* justify-content: flex-start; */  
  /* align-items: center; */
  /* color: red; */
  /* background-color: #FCC; */
  height: 100%;
  
}

/*breakpoints*/
@media screen and (max-width:754px) {

  .base-container {
    flex-direction: column;
  }

  .left-top {
    width: 100%;
    height: 35%;
  }

  .right-bottom {
    width: 100%;
    height: 65%;
    text-align: left;
  }

  .portrait-container {
    height: 70%;
  }

  .bio-text {
    height: 5%;
    margin-top: -10px;
  }

  .bio-text-subhead {
    display: none;
  }

  .code-container {
    height: 25%;
    font-size: 10px;
  }

  .code-text {
    margin-top: 5px;
    margin-left: 5px;
  }


}
@media screen and (min-width:1920px) {

}


@media print {

}
