/* For the base container holding left right*/

.base-container {
  font-size: 24px;
  display: flex;
  width: 100%;
  height: 100%;
}

/*breakpoints*/

@media only screen and (max-width:779px) {

  .base-container {
    flex-direction: column;
    font-size: 18px;
  }

  .left-top {
    width: 100%;
    height: 20%;
  }
  .bio-text {
    margin-top: -10px;
    display: none;
  }

  .portrait {
    position: fixed;
    
  }

  .bio-text-subhead {
    display: none;
  }

  .code-container {
    background-color: #222;
  }

  .code-text {
    margin-top: 5px;
    margin-left: 5px;
  }

  .right-bottom {
    width: 100%;
    height: 80%;
    text-align: left;
    font-size: 16px;
  }

  .right-bottom-upper {
    /* font-size: 15px; */
  }
  
  .intro-text {
    width: 85%;
  }

  .right-bottom-lower {
    background-color: #112388;
  }

  .project-box-text {
    width: 90%;
  }

  .portrait-container {
    background-color: #1122dd;
  }
}

@media only screen and (min-width:600px) {
  .base-container {
    font-size: 18px;
  }
}

@media only screen and (min-width:1014px) {
  .base-container {
    font-size: 24px;
  }
}

@media only screen and (min-width:1186px){
.base-container {
    font-size: 28px;
  }
}

@media only screen and (min-width:1920px) {
  .base-container {
    font-size: 28px;
  }


}


@media print {

}
