/* For the base container holding left right*/

.base-container {
  display: flex;
  flex-direction: row; 
  width: 100%;
  /* justify-content: flex-start; */  
  /* align-items: center; */
  /* color: red; */
  /* background-color: #FCC; */
  height: 100%;
  
}
