/* CSS FOR 8 HOURS */

.eight-hours-container {
  height: 100%;
  z-index: 1;
}

.eight-hours-container-background {
  content: "";
  height: 100%;
  width: 100%;
  background-color: orange;

  background-image: url(../earlvincemac.jpeg);
  position: absolute;
  background-size: cover;
  opacity: .05;
  z-index: -1;
}

.eight-hours-container-background-color {
  content: "";
  height: 100%;
  width: 100%;
  background-color: #33e;

  position: absolute;
  opacity: .2;
  z-index: -2;
}

/* BDAY INPUT */
.bday-input-form-container {
  height: 100%;
}

.bday-input-form {
}

.bday-input-label {
  width: 40vw;
  font-size: 40px;
  padding: 16px;
}

#results-button {
  visibility: hidden;
}

.bday-input-field {

  /* color: #DFA949; */
  /* color: green; */
  outline: none;
  border: none;
  border-bottom: 2px solid green;

  color: #77bb77; 
  font-size: 40px;
  margin: 16px;
  width: 40vw;
  text-align: center;
  background-color: inherit;
}


/* RESULTS */
.results-display {
  display: flex;
  flex-direction: column;
  height: 100%;
  z-index: 1;
  align-items: center;
  /* margin-top: 8px; */
}

.results-display-background {
  content: "";
  height: 100%;
  width: 100%;
  background-color: orange;

  background-image: url(../earlvincemac.jpeg);
  position: absolute;
  background-size: cover;
  opacity: .05;
  z-index: -1;

}

.results-display-background-color {
  content: "";
  height: 100%;
  width: 100%;
  background-color: orange;

  /* background-image: url(../earlvincemac.jpeg); */
  position: absolute;
  /* background-size: cover; */
  opacity: .2;
  z-index: -2;

}

.times {
  width: 88vw;
  display: flex;
  text-align: center;
  justify-content: space-between;
}

.today-time {
  font-size: 48px;
}

.time-readout {

  color: #DFA949;
  /* color: red; */
}

/* PROGRESS BAR THING */
.meter { 
  height: 24px;  /* Can be anything */
  width: 72vw;
  position: relative;
  background: #555;
  -moz-border-radius: 24px;
  -webkit-border-radius: 24px;
  border-radius: 24px;
  padding: 8px;
  box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
  margin: 16px;
}

.spanner {
  display: block;
  height: 100%;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;

  background-color: #F1E8DF;
  /* background-color: rgb(43,194,83); */
  box-shadow: 
  inset 0 2px 9px  rgba(255,255,255,0.3),
  inset 0 -2px 6px rgba(0,0,0,0.4);
  position: relative;
  overflow: hidden;
}


@media screen and (max-width: 668px) {

  .bday-input-label {
    font-size: 24px;
  }

  .bday-input-field {
    font-size: 24px;
  }

  .birth-time {
    font-size: 24px;
  }

  .birth-time .time-readout {
    font-size: 16px;
  }

  .today-time {
    font-size: 32px;
  }

  .death-time {
    font-size: 24px;
  }

  .death-time .time-readout {
    font-size: 16px;
  }

  .time-readout {
    font-size: 24px;
  }
}
