.left-top {
  display: flex;
  flex-direction: column; 
  width: 40%;
  background-color: #efefef; 
  height: 100%;
  text-align: center;
}


.portrait-container {
  color: red;
  display: flex;
  justify-content: space-around; 
  height: 40%;
  background-color: #ccc;
  width: 100%;
}

.portrait {
  border-radius: 44%;
  height: 85%;
}

.bio-text {
  color: #232323;
}

img {
  align-self: center;
}


