.right-bottom {
  display: flex; 
  justify-content: space-around; 
  flex-direction: column;
  width: 70%;
  text-align: left;
}

.right-bottom-upper {
  display: flex; 
  justify-content: space-around; 
  background-color: black; 
  height: 65%;
  text-align: right;
}

.right-bottom-lower {
  opacity: 0.5;
  display: flex; 
  justify-content: space-around; 
  background-color: blue;
  height: 35%;
  text-align: left;
}

.right-bottom-lower a {
  text-decoration: none;
}

.right-bottom-lower a:hover {
  color: #01ff01;
}

.intro-text {
  color: #77bb77; 
  z-index: 1;
}

.intro-text a {
  text-decoration: none;
  color: orange;
}

.intro-text a:hover {
  color: #7FFF00;
}

.ingredients-checker-container {
  background-color: green;
}


.project-box-text {
  color: #77bb77; 
}

.project-box-text a {
  color: orange;
}


.project-box-text a:hover {
  color: #01ff01;
}
