.right-bottom {
  display: flex; 
  justify-content: space-around; 
  flex-direction: column;
  width: 60%;
  /* background-color: #efefef; */
  text-align: left;
  /* box-shadow: 0px 0px 2px 0px #fefefe; */
}

.right-bottom-upper {
  display: flex; 
  justify-content: space-around; 
  /* width: 60%; */
  background-color: black; 
  height: 50%;
  text-align: right;
  /* box-shadow: 0px 0px 2px 0px #fefefe; */
}

.right-bottom-lower {

  opacity: 50%;
  display: flex; 
  justify-content: space-around; 
  /* width: 60%; */
  background-color: blue;
  height: 50%;
  text-align: left;
  /* z-index: 4; */
  /* box-shadow: 0px 0px 2px 0px #fefefe; */
}

.right-bottom-lower a {
  text-decoration: none;
  /* color: #22c422; */
}

.right-bottom-lower a:hover {
  color: #01ff01;
}

.intro-text {
  color: #77bb77; 
  z-index: 1;
}

.intro-text a {
  text-decoration: none;
  color: orange;
}

.intro-text a:hover {
  color: #7FFF00;
}

.ingredients-checker-container {
  background-color: green;
}


.project-box-text {
  color: #77bb77; 

  /* z-index: 4; */
  /* color: yellow; */
}

.project-box-text a {
  color: orange;
}


.project-box-text a:hover {

  /* color: orange; */
}
